<div class="list-group">
  <div *ngFor="let playlist of playlists"
       class="list-group-item" 
       [class.active]="selected == playlist"
       [highlight]="playlist.color"
       (click)="select(playlist)">
    {{ playlist.name }}
    <list-item></list-item>
  </div>
</div>

<!-- [style.borderLeftColor] = "playlist == hovered ? playlist.color : 'inherit'"
(mouseenter)="hovered = playlist"
(mouseleave)="hovered = null" -->