<div class="row my-4">
  <div class="col">
    <items-list [playlists]="playlists | async" [selected]="selected | async" (selectedChange)="select($event)"></items-list>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
