<form *ngIf="mode == 'edit'" (ngSubmit)="save(playlistForm)" #playlistForm="ngForm">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ngModel name="name">
  </div>
  <div class="form-group">
    <label>Favourite</label>
    <input type="checkbox" ngModel name="favourite">
  </div>
  <div class="form-group">
    <label>Color</label>
    <input type="color" ngModel name="color" validateColor #colorRef>
  </div>
  <div *ngIf="colorRef.invalid">
    Invalid color
  </div>
  <button class="btn" (click)="cancel()">Cancel</button>
  <button class="btn" type="submit">Save</button>
</form>

<div *ngIf="mode == 'show'">
  <div class="form-group">
    <label>Name</label>
    <div class="form-control-plaintext">{{ playlist.name }}</div>
  </div>
  <div class="form-group">
    <label>Favourite</label>
    <div class="form-control-plaintext">{{ playlist.favourite ? 'Yes' : 'No' }}</div>
  </div>
  <div class="form-group">
    <label>Color</label>
    <div class="form-control-plaintext" [style.backgroundColor]="playlist.color">{{ playlist.color }}</div>
  </div>
  <button class="btn" (click)="edit()">Edit</button>
</div>