<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" routerLink="playlists">Music App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="playlists" routerLinkActive="active">Playlists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="music" routerLinkActive="active">Search music</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
