<div class="row">
  <div class="col">
    <search-form (queryChange)="search($event)"></search-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <albums-list></albums-list>
  </div>
</div>
