<div class="my-4">
  <form [formGroup]="queryForm" class="input-group">
    <input formControlName="query" type="text" class="form-control" placeholder="Search for...">
  </form>
  <div *ngIf="queryForm.pending">Please wait!</div>
  <ng-container *ngIf="queryForm.get('query').touched || queryForm.get('query').dirty">
    <div *ngIf="queryForm.hasError('required', 'query')">Field is required</div>
    <div *ngIf="queryForm.getError('minlength', 'query') as error">Must have at least {{ error.requiredLength }} latters</div>
    <div *ngIf="queryForm.getError('censor', 'query') as error">Must not be {{ error }}</div>
  </ng-container>
</div>